// Works

.works {
  position: relative;
  padding: 94px 0 112px;
  background: $color-dark-gray;

  &__item {
    text-align: center;

    &--arrows {

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 360px;
        height: 80px;
        z-index: 0;
        background-image: url('#{$path}img/Angles.png');
      }

      &::before {
        top: 46px;
        left: 500px;
      }

      &::after {
        top: 47px;
        right: 526px;
      }
    }
  }

  &__title {
    margin: 14px 0 0;
    @include section-title;
  }

  &__icon {
    position: relative;
    padding: 10px;
    font-size: 73px;
    background-color: $color-dark-gray;
    z-index: 2;

    &--search {
      color: $color-blue;
    }

    &--check {
      color: $color-pink;
    }

    &--like2 {
      color: $color-light-blue;
    }
  }
}