// Variables

// Fonts
$font-josephin: 'Josefin Sans', sans-serif;
$font-aleo: 'Aleo', sans-serif;

// Colors
$color-white: #fff;
$color-gray: #999999;
$color-blue: #5474fd;
$color-navy: #496bfe;
$color-pink: #ff6363;
$color-light-blue: #00a2ff;
$color-dark-gray: #333333;
$color-black-opacity: rgba(0, 0, 0, .7);

// Path
$path: '../';